In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
from IPython.display import display 
import seaborn as sns

In [61]:
X_train_0 = pd.read_csv('Xtr0.csv').drop('Id', axis = 1)
X_train_0_mat100 = pd.read_csv('Xtr0_mat100.csv',delimiter= ' ', header= None)
y_train_0 = pd.read_csv('Ytr0.csv')

In [62]:
X_train_0

                                                    seq
0     TCCTGTGCACATCTGCACCCCTGTTGTGGCCACAAAATGATCCGGC...
1     TTAAGTGTATATCTAATAATTTTTTTGCCTACATTCCTGTGTTACC...
2     GTGCTCAATTAGTTGCCTACAAATAGTAGCCTGGCACAGTGTAAGC...
3     CACCTGGAAAATACAAACAGGCGCAAGAAGAGTTAACCCACAGATC...
4     AAATCACTGCCTATCCTTGGGCCAAAAGGTTTCTACAGGAAGCTGC...
...                                                 ...
1995  ACGCTTCGGCACGGCTGGCACGGGCTCCCTGAGGGGCTGTTGGAGA...
1996  CCTGGCCCTTGGCTCTGCCCTGAAGACAACTCACTCAGGTGCATCC...
1997  TCTTCTCTCTGTGTCCTCATGTGCCCTTTGCTCTGTGCACAGGCAT...
1998  GGCACGGTGGCTCATGCCTGTAATCTTAGCACTTTGGGAGGCCAAG...
1999  TCCTCCCCTTCCTCCTGAAGGCCTGAGGCTCCCTGTGACCCTCCGC...

[2000 rows x 1 columns]

In [75]:
test = pd.read_csv('Xtr0_mat100.csv',delimiter= ' ', header= None)
test.iloc[3,:].value_counts()

0.000000    44
0.010870    34
0.021739    14
0.032609     4
0.043478     2
0.054348     2
Name: 3, dtype: int64

In [76]:
0.0108*34+0.021*14+0.032*4+0.0434*2+0.0543*2

0.9846

In [34]:
X_train_0.iloc[1,1]

'TTAAGTGTATATCTAATAATTTTTTTGCCTACATTCCTGTGTTACCACCACCTAGATCAAGTTATAGATCTATCAACCCAGAAAGTTCCCTTTTGTTCTCT'

In [36]:
X_train_0_mat100.iloc[1,1]

0.0

In [17]:
y_train_0

        Id  Bound
0        0      0
1        1      1
2        2      1
3        3      1
4        4      1
...    ...    ...
1995  1995      0
1996  1996      1
1997  1997      0
1998  1998      0
1999  1999      0

[2000 rows x 2 columns]

101